@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Roboto:wght@100;300;400;500;700;900&display=swap');


*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}

body{
    background-color: #0F0F0F;
    font-family: 'Poppins', sans-serif;
    color: rgb(224, 212, 212);
}

header{
    margin-top: 0px;
    background-color: #202020;
    padding: 20px;
}
nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    /* border: 2px solid green; */
}
a {
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    /* letter-spacing: 0.15em;      */
    /* display: inline-block; */
    /* padding: 15px 20px; */
    position: relative;
    /* border: 2px solid red; */
}
a:after {    
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #fff;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
    margin-bottom: 10px;
}

a:hover:after { 
    width: 100%; 
    left: 0;
    background-color:orange;
}


.logo{
    width: 20%;
    margin: 10px;
    display: flex;
    justify-content: center;
    /* border: 2px solid hotpink; */

}
.menu ul li{
    margin: 10px 50px;

}

.menu{
    width: 60%;
    display: flex;
    justify-content: center;
    /* border: 2px solid blue; */

}
.button{
    width: 20%;
    /* border: 2px solid hotpink; */
}
button {
    height: 40px;
    width: 100px;
    margin: 0px 10px;
    border-radius: 50px;
    background-color: orange;
    font-size: 16px;
    cursor: pointer;
}
.login{
border: 2px solid orange;
background-color: transparent;
color: white;

}

.login:hover {
    background-color: orange;
    color: black;
}

.signup:hover{
    background-color: transparent;
    color: white;
    border: 2px solid orange;
}


.sec1{
    border: 2px solid red;
    height: 870px;
    width: 100%;
    background-image: url("assets/images/hero-slider-1.jpg");

    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 64px;
}